body {
  padding-top: 50px
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-header {
    width: 204px;
    background-color: #4D394B;
    border-color: #4D394B;
}
.navbar-brand {
    background-color: #4D394B;
    color: white;
    font-family: Lato;
}
.navbar-inverse {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #4D394B;
    border-right: 1px solid #eee;
    width: 220px;
}
a {
    color: #ab9ba9;
    text-decoration: none;
}
#chat {
    min-height: 38px;
    position: relative;
    bottom: -550px;
    width: 100%;
    border-color: black;
    left: -10px;
}
.form-control {
    padding: 2px 2rem;
    font-size: 15px;
    height: 2.9rem;
    border-radius: 40px;
    background: #FFF;
    border: 1px solid rgba(214,214,214,.61);
}
.input-group-addon:first-child {
    border: 0;
    background-color: transparent;
    width: 0px;
    bottom: 14px;
    position: absolute;
}
