body {
    background: #3f444a;
}
/* User Menu CSS */
div.turn-menu {
    width: 227px;
    padding: 7px;
    border-radius: 5px;
    font-family: arial;
    float: left;
    margin-right: 10px;
    /*margin-top: 130px;*/
}
.menu-row {
    background: #ffd746;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    height: 27px;
    margin-bottom: 11px;
    line-height: 27px;
}
/* Hero Card CSS */
div.card {
  border: 5px solid #ffd746;
  width: 227px;
  padding: 7px;
  border-radius: 5px;
  background: #ecd9bf;
  font-family: arial;
  /*display: table;*/
  float:left;
  margin-right: 10px;
}
div.hero-name {
  float: left;
  font-weight: bold;
  font-size: 19px;
}
div.card-hp {
  float: right;
  font-weight: bold;
}
div.move{
  width: 100%;
  padding-top: 7px;
}
div.move-name {
    float: left;
    margin-top: 3px;
    padding-bottom: 3px;
}
div.move-cost {
    width: 116px;
    float: left;
}
div.move2b-cost {
    width: 116px;
    float: left;
}
div.move-cost img {
    max-width: 19px;
    padding-left: 10px;
    margin-top: 0px;
}
div.move2b-cost img {
    max-width: 19px;
    padding-left: 10px;
    margin-top: 0px;
}
div.move-dmg {
  float: right;
  margin-top: 3px;
}
div.move-effect {
  width: 190px;
  display: table;
  font-size: 12px;
  padding-left: 10px;
}
div#bottom-row {
    position: fixed;
    top: 444px;
}
div#hero-image-cont {
  width: 100%;
  margin-top: 5px;
  float: left;
}
div#img-cont img {
  width: 100%;
  margin: 0 auto;
  display:  table;
  background: #7d6b6b;
  border: 2px solid #565656;
  max-width: 210px;
  max-height: 159px;
}
div#card-moveset {
  float: left;
  width: 100%;
  padding-top: 10px;
}
div#move2 {
  padding-top: 12px;
}
div#move2b-cost {
    width: 100%;
}

/* Item Card CSS */
div.card-name {
  text-align: center;
  font-weight: bold;
  font-family: comic sans-serif;
}
img.item-img {
    max-height: 111px !important;
}
div.card-effect {
    text-align: center;
    padding-top: 6px;
    font-family: comic sans-serif;
}

/* Support CSS */
div.card-name {
  font-family: comic sans-serif;
}
div.support-hp {
    float: right;
    position: absolute;
    right: 3px;
    bottom: -33px;
    font-weight: 900;
    color: #ffffff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.card-shield img {
    width: 22px;
    float: right;
}
.card-shield {
    position: relative;
}
