/* Hero Card CSS */
div.card {
  border: 5px solid #ffd746;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background: #ecd9bf;
  font-family: arial;
  display: table;
  float:left;
}
div.move{
  width: 100%;
  padding-top: 10px;
}
div.move-name
{
  float: left;
}
div.move-cost {
    width: 119px;
  float: left;
}
div.move-cost img {
  max-width: 24px;
  padding-left: 10px;
  margin-top: -7px;
}
div.move-dmg {
  float: right;
}
div.move-effect {
  width: 190px;
  display: table;
  font-size: 12px;
  padding-left: 10px;
}
div#hero-image-cont {
  width: 100%;
  margin-top: 5px;
  float: left;
}
div#img-cont img {
  width: 100%;
  margin: 0 auto;
  display:  table;
  background: #7d6b6b;
  border: 2px solid #565656;
  max-width: 196px;
  max-height: 154px;
}
div#hero-name {
  float: left;
  font-weight: bold;
}
div#hero-hp {
  float: right;
  font-weight: bold;
}
div#card-moveset {
  float: left;
  width: 100%;
  padding-top: 10px;
}
div#move2 {
  padding-top: 12px;
}

/* Item Card CSS */
div.card-name {
  text-align: center;
  font-weight: bold;
}
img.item-img {
    max-height: 111px !important;
}
div.card-effect {
    text-align: center;
    padding-top: 6px;
}
